:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --deep-blue: #188CE8;
    --button-white-color: #FFFFFF;
    --background-section: #2F303A;
    --background-color: #F5F4FA;
    --black: #000000;
  }