.logo {
    color: var(--black);
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
    
    
    }
    
    .nav .logo {
      margin-right: 94px;
    }
    
    .logo .logo_word {
    color: var(--accent-color);
    }